* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  padding: 10px;
}
input {
  width: 200px;
  height: 30px;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  word-spacing: 1px;
}
.word {
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
}
button {
  outline: none;
  border: none;
  background-color: #ffebcd;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 250px;
  width: 250px;
}
button:hover {
  background-color: #cde1ff;
  color: #000;
  cursor: pointer;
}
